<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeShopping</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en" %>
    <%= render 'layouts/head_helper' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
